body {
  margin: 0;
  background-color: #FAF2F8;
}
div {
 display: block;
}

p {
  display: inline-block;
  border-top: 1px solid #775656;
  padding-top: 2em;
  max-width: 24em;
}

.text {
  text-align: left;
  max-width: 24em;
  margin: 0 auto;
}

.text .firstfont {
  align-items: center;
  font-family: 'Josefin Slab', serif;
  font-weight: 100;
  font-size: 16px;
  line-height: 26px;
  color: #775656;
}

.text .author {
  font-size: 14px;
  font-style: italic;
}

.text .secondfont {
  font-family: 'Archivo Black', sans-serif;
  font-size: 50px;
  color: #FFFFFF;
  text-shadow: -4px -4px #D6AEC0;
  margin-left: auto;
  margin-right: auto;
}

.text .zwischen {
  top: 2%;
  left: 5%;
}

.text .immer {
  top: 15%;
  right: 5%;
}

.text .und {
  bottom: 65%;
  left: 5%;
}

.text .nie {
  bottom: 53%;
  right: 26%;
}

 @media only screen and (min-width: 38em) {

   .text {
     max-width: 60em;
     padding-left: 1.5em;
   }

   .firstfont .firstpart {
     padding-bottom: 2em;
   }

   .text .immer {
     top: 12%;
     left: 22%;
   }

   .text .und {
     bottom: 75%;
     left: 52%;
   }

   .text .nie {
     bottom: 68%;
     right: 20%;
   }

   html {
   font-size: 110%;
   line-height: 1.4;
    }

    p {
      text-align: center;
      display: block;
      margin: 0 auto;
    }
 }

 @media only screen and (min-width: 60em) {

   html {
   font-size: 120%;
   line-height: 1.5;
  }

  .text {
    max-width: 150em;
    padding-left: 2em;
  }

  .text .zwischen {
    top: 5%;
    left: 20%;
  }

  .text .immer {
    top: 17%;
    left: 40%;
  }

  .text .und {
    bottom: 67%;
    left: 60%;
  }

  .text .nie {
    bottom: 60%;
    right: 20%;
  }

 }

  @media only screen and (min-width: 90em) {

    html {
    font-size: 130%;
  }
  .text .zwischen {
    top: 5%;
    left: 20%;
  }

  .text .immer {
    top: 12%;
    left: 35%;
  }

  .text .und {
    bottom: 73%;
    left: 50%;
  }

  .text .nie {
    bottom: 67%;
    right: 32%;
  }


  }
