body {
  background-color: #faf2f8;
}

div {
  display: block;
}

p {
  display: inline-block;
  border-top: 1px solid #775656;
  padding-top: 2em;
  max-width: 15em;
}

.text {
  text-align: left;
  max-width: 24em;
  margin: 0 auto;
}

.text .firstfont {
  align-items: center;
  font-family: "Josefin Slab", serif;
  color: #775656;
}

.text .secondfont {
  font-family: "Archivo Black", sans-serif;
  color: #fff;
  text-shadow: -4px -4px #d6aec0;
  margin-left: auto;
  margin-right: auto;
}

.text .zwischen {
  top: 5%;
  left: 5%;
}

.text .immer {
  top: 15%;
  right: 30%;
}

.text .und {
  bottom: 70%;
  left: 5%;
}

.text .nie {
  bottom: 65%;
  right: 40%;
}

@media only screen and (min-width: 38em) {

  .text {
    max-width: 60em;
    padding-left: 1.5em;
  }

  .firstfont .firstpart {
    padding-bottom: 2em;
  }

  .text .immer {
    top: 12%;
    left: 28%;
  }

  .text .und {
    bottom: 75%;
    left: 56%;
  }

  .text .nie {
    bottom: 68%;
    right: 20%;
  }

  p {
    text-align: center;
    display: block;
    margin: 0 auto;
  }

}

@media only screen and (min-width: 60em) {

  .text {
    max-width: 150em;
    padding-left: 2em;
  }

  .text .zwischen {
    top: 5%;
    left: 20%;
  }

  .text .immer {
    top: 17%;
    left: 40%;
  }

  .text .und {
    bottom: 67%;
    left: 60%;
  }

  .text .nie {
    bottom: 60%;
    right: 20%;
  }

  p {
    max-width: 30em;
  }

}

@media only screen and (min-width: 90em) {

  .text .zwischen {
    top: 3%;
    left: 20%;
  }

  .text .immer {
    top: 12%;
    left: 37%;
  }

  .text .und {
    bottom: 73%;
    left: 53%;
  }

  .text .nie {
    bottom: 67%;
    right: 30%;
  }

}
